[Unit]
Description=Openhands

[Service]
Type=simple
WorkingDirectory=/root/openhands-systemd
ExecStart=/root/openhands-systemd/up.sh
ExecStop=/root/openhands-systemd/down.sh
Restart=yes

[Install]
WantedBy=multi-user.target
